@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    /* updated to design */
    --primary: 196 100% 27%;
    --primary-foreground: 0 0 100%;
    /* --primary-accent: 56 163 202; */
    --primary-accent: 196 58 51;

    --secondary: 73 52% 60%;
    --secondary-foreground: 0 0 0;
    --secondary-accent: 76 39 73;

    --tertiary: 37 98% 53%;
    --tertiary-foreground: 0 0 0;
    --tertiary-accent: 37 91 73;

    --mmgray: 0 0% 90%;
    --mmgray-accent: 0 0% 46%;

    --muted: 210 40% 96.1%;
    /* --muted-foreground: 215.4 16.3% 46.9%; */
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --tertiary: 37 98% 53%%;
    --tertiary-foreground: 0 0 0;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  input {
    @apply placeholder:text-muted-foreground/70;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--andada-pro);
  font-weight: bold;
  font-size: 64px;
}

p {
  font-family: var(--poppins);
  font-weight: 300;
  font-size: 16px;
}

/* SVGs */
#hero-avatar1 .cls-1,
#hero-avatar1 .cls-4 {
  fill: #000;
  stroke-width: 0;
}

#hero-avatar1 .cls-4 {
  fill: none;
}

#img1 {
  transform: rotateY(180deg);
}

#img1 .cls-1 {
  fill: #181818;
}

#img1 .cls-1,
#img1 .cls-2,
#img1 .cls-3 {
  stroke-width: 0;
}

#img1 .cls-2 {
  fill: #fffeff;
}

#img1 .cls-3 {
  fill: #b7ce63;
}

.star.primary {
  stroke: hsl(var(--primary));
}
.star.secondary {
  stroke: hsl(var(--secondary));
}
.star.tertiary {
  stroke: hsl(var(--tertiary));
}
.star.primary .stop-color {
  stop-color: hsl(var(--primary));
}
.star.secondary .stop-color {
  stop-color: hsl(var(--secondary));
}
.star.tertiary .stop-color {
  stop-color: hsl(var(--tertiary));
}

svg.signup path.themeSecondary {
  fill: hsl(var(--secondary));
}

/* Tailwind Styles */

.outline_btn {
  @apply border border-primary text-primary rounded-[4px] px-4 py-2 transition-colors ease-linear duration-200 outline-none focus:outline-none focus:ring-2 focus:ring-primary focus:ring-opacity-50;
}
.outline_btn:hover {
  @apply bg-primary text-primary-foreground;
}

.NavigationMenuViewport {
  width: var(--radix-navigation-menu-viewport-width);
  height: var(--radix-navigation-menu-viewport-height);
}

@media screen and (min-width: 768px) {
  .overflow_mask {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg,
        transparent,
        white 20%,
        white 80%,
        transparent);
    mask: linear-gradient(90deg,
        transparent,
        white 20%,
        white 80%,
        transparent);
  }
}
